     16 "pyrexia"
     14 "diarrhoea"
      9 "vomiting"
      8 "nausea"
      8 "hypertension"
      8 "drug hypersensitivity"
      7 "rash"
      7 "palpitations"
      7 "obstructive airways disorder"
      7 "lung disorder"
      6 "throat tightness"
      6 "subacute sclerosing panencephalitis"
      6 "scoliosis"
      6 "platelet count decreased"
      6 "mitral valve prolapse"
      6 "gastrooesophageal reflux disease"
      6 "exposure to toxic agent"
      6 "essential hypertension"
      6 "diverticulum"
      6 "coronary artery occlusion"
      6 "bronchitis chronic"
      6 "atrial flutter"
      6 "aspartate aminotransferase increased"
      6 "allergy to vaccine"
      5 "pulmonary embolism"
      5 "pneumonia"
      5 "pain"
      5 "off label use"
      5 "neutropenia"
      5 "dyspnoea"
      5 "drug ineffective"
      5 "drug-induced liver injury"
      5 "constipation"
      5 "cardiac failure acute"
      5 "asthenia"
      5 "alanine aminotransferase increased"
      4 "white blood cell count increased"
      4 "weight decreased"
      4 "upper respiratory tract inflammation"
      4 "tremor"
      4 "medical device implantation"
      4 "lymphocyte count decreased"
      4 "liver disorder"
      4 "incision site pain"
      4 "fatigue"
      4 "eczema"
      4 "death"
      4 "cytomegalovirus infection"
      4 "cough"
      4 "blood creatinine increased"
      4 "anaemia"
      4 "acute kidney injury"
      4 "abdominal pain"
      3 "white blood cell count decreased"
      3 "vision blurred"
      3 "thrombocytopenia"
      3 "somnolence"
      3 "renal failure"
      3 "pulmonary oedema"
      3 "neutrophil count increased"
      3 "malaise"
      3 "leukopenia"
      3 "injury"
      3 "general physical health deterioration"
      3 "gastrointestinal haemorrhage"
      3 "dizziness"
      3 "delayed graft function"
      3 "coma"
      3 "blood urea increased"
      3 "arthralgia"
      3 "anxiety"
      3 "abnormal behaviour"
      2 "visual impairment"
      2 "viral infection"
      2 "urine output decreased"
      2 "tuberculosis"
      2 "treatment noncompliance"
      2 "thrombosis"
      2 "tachycardia"
      2 "suicidal ideation"
      2 "sinusitis"
      2 "seizure"
      2 "respiratory failure"
      2 "renal impairment"
      2 "rash macular"
      2 "pruritus"
      2 "proteinuria"
      2 "product use issue"
      2 "premature baby"
      2 "pharyngitis"
      2 "petechiae"
      2 "pancreatitis"
      2 "neuropathy peripheral"
      2 "nervousness"
      2 "muscular weakness"
      2 "mood swings"
      2 "loss of consciousness"
      2 "lip swelling"
      2 "lip pain"
      2 "lactic acidosis"
      2 "jaundice neonatal"
      2 "jaundice"
      2 "insomnia"
      2 "hypokinesia"
      2 "hypokalaemia"
      2 "hypoglycaemia neonatal"
      2 "hypersensitivity"
      2 "hyperkalaemia"
      2 "hermaphroditism"
      2 "hepatic function abnormal"
      2 "hepatic failure"
      2 "hepatic enzyme increased"
      2 "gonadal dysgenesis"
      2 "generalised oedema"
      2 "gastrointestinal disorder"
      2 "gait disturbance"
      2 "frequent bowel movements"
      2 "flatulence"
      2 "fall"
      2 "epilepsy"
      2 "drug interaction"
      2 "drug exposure during pregnancy"
      2 "diabetic foetopathy"
      2 "dermatitis herpetiformis"
      2 "dementia alzheimer's type"
      2 "cytolytic hepatitis"
      2 "c-reactive protein increased"
      2 "convulsion"
      2 "colitis"
      2 "cognitive disorder"
      2 "chronic gastritis"
      2 "central nervous system lesion"
      2 "cardiac failure"
      2 "bronchopneumonia"
      2 "blood calcium increased"
      2 "blood bilirubin increased"
      2 "ascites"
      2 "apathy"
      2 "apallic syndrome"
      2 "agitation"
      2 "abdominal distension"
      2 "abdominal discomfort"
      1 "wrong drug administered"
      1 "weight gain poor"
      1 "weight bearing difficulty"
      1 "volvulus"
      1 "visual disturbance"
      1 "visual acuity reduced transiently"
      1 "viral load increased"
      1 "urinary tract infection fungal"
      1 "urinary tract infection bacterial"
      1 "urinary tract infection"
      1 "urinary incontinence"
      1 "unresponsive to stimuli"
      1 "unevaluable event"
      1 "tuberculosis of central nervous system"
      1 "tuberculosis liver"
      1 "troponin increased"
      1 "traumatic brain injury"
      1 "tracheitis"
      1 "toxicity to various agents"
      1 "toxic epidermal necrolysis"
      1 "toxic encephalopathy"
      1 "torsade de pointes"
      1 "tooth disorder"
      1 "tooth abscess"
      1 "tongue paralysis"
      1 "tongue discomfort"
      1 "tinnitus"
      1 "thrombophlebitis"
      1 "thrombolysis"
      1 "testicular pain"
      1 "tachypnoea"
      1 "subacute hepatic failure"
      1 "stress"
      1 "stomatitis"
      1 "stevens-johnson syndrome"
      1 "spastic paraplegia"
      1 "skin exfoliation"
      1 "sinus tachycardia"
      1 "sinus bradycardia"
      1 "shunt malfunction"
      1 "septic shock"
      1 "sepsis"
      1 "sensory loss"
      1 "sensory disturbance"
      1 "rhabdomyolysis"
      1 "retinopathy"
      1 "retinal degeneration"
      1 "restlessness"
      1 "respiratory tract infection viral"
      1 "respiratory distress"
      1 "respiratory disorder"
      1 "respiration abnormal"
      1 "renal injury"
      1 "red blood cell sedimentation rate increased"
      1 "red blood cell count decreased"
      1 "rash erythematous"
      1 "pus in stool"
      1 "pulmonary tuberculosis"
      1 "pulmonary hypertension"
      1 "psychomotor hyperactivity"
      1 "psoriasis"
      1 "pruritus generalised"
      1 "progressive multifocal leukoencephalopathy"
      1 "product substitution issue"
      1 "pressure of speech"
      1 "postresuscitation encephalopathy"
      1 "post procedural infection"
      1 "polyneuropathy"
      1 "pneumoconiosis"
      1 "pleural effusion"
      1 "peripheral swelling"
      1 "peripheral embolism"
      1 "periodontitis"
      1 "performance status decreased"
      1 "peptic ulcer"
      1 "paranoia"
      1 "papilloedema"
      1 "pancreatitis acute"
      1 "pallor"
      1 "pain in jaw"
      1 "pain in extremity"
      1 "oropharyngeal pain"
      1 "oral candidiasis"
      1 "optic atrophy"
      1 "neutrophil count decreased"
      1 "neurological symptom"
      1 "neurological decompensation"
      1 "nervous system disorder"
      1 "neoplasm progression"
      1 "neoplasm malignant"
      1 "neonatal disorder"
      1 "necrotising retinitis"
      1 "myoclonus"
      1 "mycobacteria blood test positive"
      1 "myalgia"
      1 "musculoskeletal stiffness"
      1 "musculoskeletal discomfort"
      1 "musculoskeletal chest pain"
      1 "muscle spasticity"
      1 "muscle spasms"
      1 "muscle rigidity"
      1 "multiple sclerosis relapse"
      1 "multi-organ failure"
      1 "motor dysfunction"
      1 "migraine"
      1 "middle insomnia"
      1 "metabolic acidosis"
      1 "mental disorder"
      1 "meningitis"
      1 "memory impairment"
      1 "melaena"
      1 "medication error"
      1 "malignant neoplasm progression"
      1 "macular pigmentation"
      1 "macular ischaemia"
      1 "lymphorrhoea"
      1 "lymphopenia"
      1 "lymphoma"
      1 "lymphatic disorder"
      1 "lymphadenopathy"
      1 "lymphadenitis"
      1 "lung infection"
      1 "local swelling"
      1 "liver function test increased"
      1 "liver function test abnormal"
      1 "limb deformity"
      1 "kidney transplant rejection"
      1 "joint swelling"
      1 "joint lock"
      1 "ischaemia"
      1 "iron deficiency anaemia"
      1 "intestinal perforation"
      1 "intervertebral disc disorder"
      1 "intentional product use issue"
      1 "intentional product misuse"
      1 "influenza like illness"
      1 "infection"
      1 "immunodeficiency"
      1 "hypoxic-ischaemic encephalopathy"
      1 "hypoxia"
      1 "hypovolaemic shock"
      1 "hypothyroidism"
      1 "hypotension"
      1 "hypogammaglobulinaemia"
      1 "hypocalcaemia"
      1 "hypoaesthesia"
      1 "hyperuricaemia"
      1 "hypertensive crisis"
      1 "hyperlactacidaemia"
      1 "hyperhidrosis"
      1 "hot flush"
      1 "homicidal ideation"
      1 "herpes zoster"
      1 "herpes simplex serology positive"
      1 "hepatitis c antibody positive"
      1 "hepatitis c"
      1 "hepatitis"
      1 "hepatic neoplasm"
      1 "hepatic necrosis"
      1 "hemiplegia"
      1 "headache"
      1 "hallucination"
      1 "haemorrhagic disorder"
      1 "haemorrhage"
      1 "haemoptysis"
      1 "haemoglobin decreased"
      1 "haematuria"
      1 "haematoma"
      1 "haematochezia"
      1 "granuloma"
      1 "gingival bleeding"
      1 "gastrointestinal hypermotility"
      1 "gastric ulcer"
      1 "gamma-glutamyltransferase increased"
      1 "foot fracture"
      1 "febrile neutropenia"
      1 "fear"
      1 "facial paresis"
      1 "facial paralysis"
      1 "erythema"
      1 "epstein-barr virus antibody positive"
      1 "emotional distress"
      1 "electrocardiogram qt prolonged"
      1 "ecchymosis"
      1 "ear pruritus"
      1 "dysphagia"
      1 "duodenitis"
      1 "drug toxicity"
      1 "drug level increased"
      1 "drug level decreased"
      1 "drug intolerance"
      1 "drug eruption"
      1 "drug dose omission"
      1 "distributive shock"
      1 "disorientation"
      1 "disease progression"
      1 "diplopia"
      1 "device use issue"
      1 "dermatitis exfoliative generalised"
      1 "depression"
      1 "decubitus ulcer"
      1 "deafness"
      1 "cystitis"
      1 "critical illness polyneuropathy"
      1 "crepitations"
      1 "coronary artery disease"
      1 "corneal neovascularisation"
      1 "contusion"
      1 "conjunctival hyperaemia"
      1 "condition aggravated"
      1 "chronic obstructive pulmonary disease"
      1 "chronic lymphocytic leukaemia"
      1 "chorioretinitis"
      1 "cholestasis"
      1 "chills"
      1 "chest pain"
      1 "chest discomfort"
      1 "cerebrovascular accident"
      1 "cerebral ischaemia"
      1 "cerebral atrophy"
      1 "cell death"
      1 "cd4 lymphocytes decreased"
      1 "cardiomyopathy"
      1 "cardiac failure congestive"
      1 "cardiac arrest"
      1 "capillary leak syndrome"
      1 "candidiasis"
      1 "candida sepsis"
      1 "campylobacter gastroenteritis"
      1 "bronchospasm"
      1 "bronchopulmonary aspergillosis"
      1 "bronchitis"
      1 "bronchiectasis"
      1 "brain oedema"
      1 "brain neoplasm"
      1 "brain hypoxia"
      1 "bradycardia"
      1 "bone marrow failure"
      1 "body temperature increased"
      1 "blood uric acid increased"
      1 "blood sodium decreased"
      1 "blood potassium decreased"
      1 "blood phosphorus decreased"
      1 "blood magnesium decreased"
      1 "blood glucose increased"
      1 "blood bicarbonate increased"
      1 "blood albumin increased"
      1 "balance disorder"
      1 "bacterial sepsis"
      1 "bacterial infection"
      1 "atrial fibrillation"
      1 "apraxia"
      1 "appetite disorder"
      1 "aplastic anaemia"
      1 "aphasia"
      1 "apgar score low"
      1 "anhedonia"
      1 "anger"
      1 "anaphylactic reaction"
      1 "amaurosis"
      1 "aggression"
      1 "affect lability"
      1 "acute generalised exanthematous pustulosis"
      1 "accident at work"
      1 "abdominal injury"
      1 "abasia"
